@charset "utf-8";

*,*:after, *:before {
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  width:30%;
  background-color: #edffd6;
}
fieldset {
  width:100%;
}
.form {
  background-color: #fff;
  position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%, -50%);
  width:400px;
}
.s_logo{
  width:250px;
  display:block;
  margin-left:70px;
  padding:350px 0 0 0;
} 
.form h2 {
  font-size:1.3rem;
}
#id {
  margin-top:50px;
}
.join_txt {
  padding:50px 0 0 55px;
}
.btn {
  border:none;
  color:#fff;
  background-color:#ff501c;
  width:100%;
  height:40px;
  cursor:pointer;
}
#join_form {
  padding:0 0 0 60px;
  width:80%;
  line-height:3px;
  text-align:center;
}
input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

input:focus {
  background:#fff;
  outline: 2px solid #ff501c;
  border-radius:5px;
}
.form:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
