@charset "utf-8";

*,*:after, *:before {
  box-sizing: border-box;
}
a {
  list-style:none;
  text-decoration:none;
  color:#F986BD;
  font-size:20px;
  font-weight:bold;
}
#br_menu {
  margin:0 auto;
  width:80%;
  overflow:hidden;
}
#br_menu .menu_panel ul img {
  width:18%;
  border:1px solid rgb(155, 155, 155);
  border-radius:30px;
  cursor:pointer;
  object-fit:fill;
  position:relative;
}
.tab {
  display:flex;
  justify-content:center;
  margin:0 auto;
  margin-top:100px;
  padding:0 0 100px 0;
}
#br_menu > .menu_panel > ul > li {
  display:inline;
  line-height:100px;
  width:100%;
}
.txt {
  color:#F986BD;
  text-align:center;
  margin-bottom:50px;
}
.menu_panel > ul {
  text-align:center;
}

.menu_panel > ul > li > img:hover {
  background:#ffac49;
}
.top {
  height:90px;
  background-color:#f9868d;
  position:absolute;
  width:100%;
  z-index:-9999;
}
.logo {
  padding:15px 0 0 300px;
}
.search {
  position:absolute;
  right:250px;
  top:36px;
}
.submenu {
  display:none;
}
.gnb {
  position:relative;
  display:flex;
  left:400px;
  top:30px;
}
.gnb a {
  color:#fff;
}